## IDE project files
/.viminfo
/.buildpath
/.settings
/.project
/.cache
/build
/nbbuild
/nbdist
/nbproject/private
/.vscode
/.idea
/futurejava/.idea
/futurejava/target
/legacyjava/core/src/test/resources/org/javafish/eval/db/ccrl-40-2-elo-3400.epd
/legacyjava/core/src/test/resources/org/javafish/eval/db/ccrl-40-2-elo-3400.epd.xz
/wasm/target
/wasm/web/node_modules

/wasm/web/public/zerofish_wasm_bg.wasm
/wasm/web/public/zerofish_wasm.js
/wasm/web/public/zerofish.js
/wasm/web/public/zerofish.wasm
